<div id="ribbits" class="panel left">
    <h1>Public Profile</h1>
    <% @users.each do |user| %>
    <div class="ribbitWrapper">
        <a href="<%= user_path user %>">
        <img class="avatar" src="<%= user.avatar_url %>">
        <span class="name">@<%= user.username %></span>
        </a>
        <p>
        <%= user.ribbitmsgs.size %> Ribbits
        <span class="spacing"><%= user.followers.count %> Followers</span>
        <span class="spacing"><%= user.followeds.count %> Following</span>
        </p>
        <% if user.ribbitmsgs.first %>
        <p><%= user.ribbitmsgs.first.content %></p>
        <% end %>
    </div>
    <% end %>
</div>